#newsbtcEmdypWidget{
padding: 1px;
padding-left: 11px;
text-decoration: none;
color: red;
font-weight: bold;
background-color: yellow;
border-radius: 10px;}

a#emdypnewsreader, a#newsbtcwidgetabout{
font-weight: normal;
color:white;}

a#emdypnewsreader:visited, a#newsbtcwidgetabout:visited {
text_decoration:underline;
color: green;}

#emdypnewsreader{
text-decoration: none;
}

a#newsbtcwidgetabout {
font-size: 0.7em;}
